<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Untitled Form</title>
<link rel="stylesheet" type="text/css" href="./colors/color1/view.css" media="all">
<script type="text/javascript" src="js/view.js"></script>


{% extends "layout.html" %}

{% block content %}

{{ greeting|safe }}
<script type="text/javascript" src="js/calendar.js"></script>
</head>
<body id="main_body" >
	
	<div id="form_container">
	
		<h1>Contact Us</h1>
		<form id="form_739216" class="appnitro"  method="post" action="/thank_you">
					<div class="form_description">
			
			<p>Thank you for your interest.  Please leave your email address and message below</p>
		</div>						
			
		<label class="description" for="element_1">Your email address </label>
		<div>
			<input id="element_1" name="element_1" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		 		
		<label class="description" for="element_2">Message </label>
		<div>
			<textarea id="element_2" name="element_2" class="element textarea medium"></textarea> 
		</div> 
		
			
			    <input type="hidden" name="form_id" value="739216" />
			    
				<input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />
		

		</form>	
		
	</div>
	
	</body>
</html>

{% endblock %}