{% extends "layout.html" %}

{% block content %}
<html>
<table cellspacing="0" cellpadding="0" border="1">
<tr>
  <td width="50" align="center">Monday</td>
  <td width="50" align="center">Tuesday</td>
  <td width="50" align="center">Wednesday</td>
  <td width="50" align="center">Thursday</td>
  <td width="50" align="center">Friday</td>
  <td width="50" align="center">Saturday</td>
  <td width="50" align="center">Sunday</td>
</tr>
<tr>
  <td width="50" align="center"><img src="/assets/img/MensSuit.jpg" /></td>
  <td width="50" align="center"><img src="/assets/img/DressShirt.jpg" /></td>
  <td width="50" align="center"><img src="/assets/img/Jersey.jpg" /></td>
  <td width="50" align="center"><img src="/assets/img/Polo.jpg" /></td>
  <td width="50" align="center"><img src="/assets/img/MensSuit.jpg" /></td>
  <td width="50" align="centebgr"><img src="/assets/img/MensSuit.jpg" /></td>
  <td width="50" align="center"><img src="/assets/img/MensSuit.jpg" /></td>
</tr>
<tr>
  <td width="50" align="center"><img src="/assets/img/CargoPants.jpg" /></td>
  <td width="50" align="center"><img src="/assets/img/FlatFrontPants.jpg" /></td>
  <td width="50" align="center"><img src="/assets/img/PleatedPants.jpg" /></td>
  <td width="50" align="center"><img src="/assets/img/SlimJeans.jpg" /></td>
  <td width="50" align="center"><img src="/assets/img/MensSuit.jpg" /></td>
  <td width="50" align="center"><img src="/assets/img/MensSuit.jpg" /></td>
  <td width="50" align="center"><img src="/assets/img/MensSuit.jpg" /></td>
</tr>
<tr>
  <td width="50" align="center"><img src="/assets/img/Blackdressshoes.jpg" /></td>
  <td width="50" align="center"><img src="/assets/img/Navyblue.jpg" /></td>
  <td width="50" align="center"><img src="/assets/img/Browndressshoes.jpg" /></td>
  <td width="50" align="center"><img src="/assets/img/Whitedressshoes.jpg" /></td>
  <td width="50" align="center"><img src="/assets/img/Blackdressshoes.jpg" /></td>
  <td width="50" align="center"><img src="/assets/img/Blackdressshoes.jpg" /></td>
  <td width="50" align="center"><img src="/assets/img/Blackdressshoes.jpg" /></td>
</tr>
</table>
</html>
 {% endblock %}
  
